---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
/* import Features2 from '~/components/widgets/Features2.astro'; */
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
/* import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro'; */
import FAQs from '~/components/widgets/FAQs.astro';
/* import Stats from '~/components/widgets/Stats.astro'; */
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'H2WorkForce',
  ignoreTitleTemplate: true,
};

import heroImage from '~/assets/images/hero-image.avif';
import reclu from '~/assets/images/reclu.avif';
import deal from '~/assets/images/deal.avif';
import deal2 from '~/assets/images/deal2.avif';
import deal3 from '~/assets/images/farmer.avif';
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero image={{ src: heroImage, alt: 'H2WorkForce' }} id='hero'>
    <Fragment slot="title">
      We connect <span class="hidden xl:inline">Mexican workers with</span>
      <span class="text-accent dark:text-white"> employers in the U.S. and Canada</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">H2WorkForce</span> is a binational firm specializing in the legal and professional recruitment
        of temporary workers, with a focus on safety, transparency, and social responsibility.
      </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Reliable, safe, and human recruitment.</span>
      Ideal for the agricultural, livestock, construction, healthcare, and professional services sectors.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note
    title="Philosophy:"
    description="Humanism, legality, and commitment to dignified and safe employment on a binational level."
  />

  <!-- Features Widget *************** -->

  <Features
    id="pillars"
    tagline="Our Pillars"
    title="What Sets H2WorkForce Apart"
    subtitle="A binational company committed to legal, safe, and human processes that connect Mexican workers with employers in the U.S. and Canada."
    items={[
      {
        title: 'Comprehensive Recruitment Process',
        description: 'From identifying needs to the worker’s arrival, ensuring legality and efficiency.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ethical and Legal Recruitment',
        description: 'In-depth profile evaluation with a critical, human-focused approach, free from illegal ties.',
        icon: 'tabler:components',
      },
      {
        title: 'Training and Certification',
        description:
          'Technical, legal, and ethical training to ensure professional performance and compliance with regulations for every worker.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Constant Employer Support',
        description:
          'Full visa management, necessary certifications, transportation, communication, and post-employment follow-up.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Technology and Communication',
        description: 'Digital platforms and innovative tools for effective coordination.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Social Commitment and Transparency',
        description:
          'Partnerships only with companies that offer dignified jobs, under clear and responsible management.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id='services'
    isReversed
    tagline="Our Services"
    title="Comprehensive Recruitment Process: The Foundation of Our Success"
    items={[
      {
        title: 'Selection of Highly Qualified Candidates',
        description:
          'We ensure a careful and precise selection, with verified profiles that meet the necessary legal and professional requirements.',
      },
      {
        title: 'Complete Profile Evaluation',
        description:
          'We conduct detailed interviews, verify legal migration status, and review a detailed work history to ensure the candidate meets each employer’s requirements.',
      },
      {
        title: 'Visa and Documentation Management',
        description:
          'We handle the complete visa process and documentation management to ensure workers can travel smoothly to the U.S. and Canada.',
      },
    ]}
    image={{
      src: reclu,
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Building Fair and Transparent Labor Relations
      </h3>
      Optimize your hiring process with a specialized team and a comprehensive service to ensure that your labor needs are
      met efficiently and legally.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Ethical and Legal Recruitment',
        description: `We ensure that every candidate meets all legal and ethical requirements, avoiding any illegal ties or immigration irregularities.`,
      },
      {
        title: 'Detailed Profile Evaluation',
        description:
          'We conduct a thorough interview and validation process to ensure the selected workers are the most suitable for the position and the work environment.',
      },
      {
        title: 'Transparency in Processes',
        description:
          'We guarantee that all interactions and agreements are clear and legal, protecting both workers and employers, ensuring trust at all times.',
      },
      {
        title: 'Complete Training on Rights and Regulations',
        description:
          'We train each worker on the legal and regulatory aspects related to their position, ensuring proper performance and compliance with regulations in the U.S. and Canada.',
      },
    ]}
    image={{
      src: deal,
      alt: 'Recruitment Image',
    }}
  >
    <Fragment slot="content">Ensure your team meets the highest standards of legality and ethics.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Constant Employer Support',
        description:
          'We provide complete support, managing all stages of the process from candidate selection to worker integration in the U.S. or Canada.',
      },
      {
        title: 'Transportation and Logistical Coordination',
        description:
          'From border transportation to job integration, we ensure the entire process runs smoothly and without setbacks.',
      },
      {
        title: 'Continuous Follow-Up During Employment',
        description:
          'We maintain constant communication with both employers and workers, ensuring that all needs are met and a stable, safe work environment is maintained.',
      },
    ]}
    image={{
      src: deal2,
      alt: 'Employer Support Image',
    }}
  >
    <Fragment slot="content">
      Your ally at every step of the process, ensuring a successful and efficient labor transition.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id='steps'
    title="Hire the Best Talent in 3 Simple Steps with H2WorkForce."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Needs Identification</span>',
        description: 'We begin with a projection of needs, areas of opportunity, and requirements.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Evaluation and Training</span>',
        description:
          'We conduct a thorough evaluation of candidates and provide the necessary training, ensuring they are ready to perform their work according to your company’s standards and production processes.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Visa and Logistics Management</span>',
        description:
          'We handle the visa management, documentation, and the entire logistical process to ensure workers arrive at their destination safely and legally, ready to integrate into your team.',
        icon: 'tabler:paint',
      },
      {
        title: 'Done!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: deal3,
      alt: 'Hiring Process Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    id='faqs'
    title="Frequently Asked Questions"
    subtitle="Explore the following questions to learn more about the services H2WorkForce offers and how we can help you hire talent efficiently and legally."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why choose H2WorkForce?',
        description:
          'H2WorkForce specializes in providing tailored, legal solutions for temporary worker recruitment. With over 25 years of experience, we guarantee an ethical, efficient, and transparent process for both employers and workers.',
      },
      {
        title: 'What do I need to start hiring?',
        description:
          'You need to define your company’s needs and understand your legal status for temporary hiring. We take care of everything else: from the legal and labor certifications your company may need for temporary workers to the selection of suitable candidates, ensuring the process is fully transparent and legally sound.',
      },
      {
        title: 'How do you select candidates?',
        description:
          'We use a thorough process of interviews, background checks, and medical tests to ensure that each worker meets the required profile and is ready for work in the U.S. or Canada.',
      },
      {
        title: 'What happens if workers don’t meet my expectations?',
        description:
          'We provide continuous follow-up for workers during their employment period. If a worker does not meet expectations, we work with the employer to find solutions and, if necessary, provide a replacement.',
      },
      {
        title: 'Does H2WorkForce also offer support during employment?',
        description:
          'Yes. We ensure constant communication between workers and employers, providing support in case of emergencies or extraordinary needs while workers are in the U.S. or Canada.',
      },
      {
        title: 'Do you offer guarantees for the visa process?',
        description:
          'Yes, we handle the entire work visa process, ensuring that the documents are complete and submitted correctly to avoid delays in the immigration process. We also ensure continuous improvement in results and production processes.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: 'mailto:ceo@h2-workforce.com',
        target: '_blank',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title"> H2WorkForce&nbsp;+&nbsp;Your Binational Partner </Fragment>

    <Fragment slot="subtitle">
      Are you ready to get started? <br class="hidden md:inline" />Contact us and find the best workers for your
      business, or request more information to address any questions you may have. We're here to help!
    </Fragment>
  </CallToAction>
</Layout>
