---
import Layout from '~/layouts/PageLayout.astro';
import Hero3 from '~/components/widgets/Hero3.astro';

const metadata = {
  title: 'H2WorkForce - test',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero3 id="hero">
    <Fragment slot="title">
      We connect <span class="hidden xl:inline">Mexican workers with</span>
      <span class="text-accent dark:text-white"> employers in the U.S. and Canada</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">H2WorkForce</span> is a binational firm specializing in the legal and professional recruitment
        of temporary workers, with a focus on safety, transparency, and social responsibility.
      </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Reliable, safe, and human recruitment.</span>
      Ideal for the agricultural, livestock, construction, healthcare, and professional services sectors.
    </Fragment>
  </Hero3>
</Layout>
